<a href="https://colab.research.google.com/github/SWATHI-MUTHU/Python_Workout_Notes/blob/main/Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=[1,2,6,"true","Swathi",[6,9,3]]
def test(x):
 n=[]
 for i in x:
    if type(i)==list:
        for j in i:
          if type(j)==int:
            n.append(j)

    else :
      if type(i)== int:
        n.append(i)
 return n

n=[x]
x

[1, 2, 6, 'true', 'Swathi', [6, 9, 3]]

In [ ]:

def dummy(a,b):
  pass
  dummy(1,2,3)

In [ ]:

def add(a,b):
  pass
  add(1,2,4 )

In [ ]:
l=[1,2,3,4,5,[5,7,5],[2,5,7]]
def swa(*args):
  n=[]
  for i in args:
    if type(i)==int:
      n.append(i)
      return n
      n=[l]
      l

In [ ]:
def multiple (a,b):
    return a*b

In [ ]:
add= lambda a,b: a+b
add(2,3)

5

In [ ]:
multiple = lambda a,b: a*b
multiple (2,4)

8

In [ ]:
division = lambda a,b: a/b
division (3,5)

0.6

In [ ]:
square =lambda x:x**2
square(2)

4

In [ ]:
max =lambda a,b : print("a is greater") if a>b else print("b is greater")
max(2,5)

b is greater

In [ ]:
celius=lambda c :1.8*c+32
celius(2)

35.6

In [ ]:
# class

class school:
  pass

In [ ]:
s=school()

In [ ]:
print(type(s))

<class '__main__.school'>

In [ ]:
class itv:
  def __init__(self,name,age):
    self.name=name
    self.age=age

In [ ]:
s1 = itv ("swathi",22)

In [ ]:
s1.name

'swathi'

In [ ]:
s1.age

22

In [ ]:
s2= itv("rup",23)

In [ ]:
s2.name

'rup'

In [ ]:
s2.age

NameError: name 's2' is not defined

In [ ]:
x=0
if x>0:
  print("po")
elif x==0:
  print("bo")
else:
  print("ne")

bo

In [ ]:
x=13
y=16
print(x>=y)

False

In [ ]:
class smortphone:
  def __init__(self,brand,year):
    self.brand=brand
    self.year=year

In [ ]:
class itv:
  def __init__(self,name,age,department="IT"):
    self.name=name
    self.age=age

In [ ]:
per1=itv("swathi",23)
per1.name

'swathi'

In [ ]:
per1.department=" nIT"
per1.department

'IT'

In [ ]:
class itv:
  def __init__(self,name,age):
    self.name=name
    self.age=age

In [ ]:
per1=itv("swa",23)
per1.name

'swa'

In [ ]:
class itv:
  def __init__(self,name,age):
    self.name=name
    self.__age=age
  def get_age(self):
    return self.__age

In [ ]:
per1= itv("muthu",34)

In [ ]:
per1.get_age()

34

In [ ]:
class Eagle:
  def __init__(self,name,age,account_no=5):
    self.name=name
    self.age=age
    self.__account_no=account_no
  #getter
  def get_account_no(self):
   return self.__account_no
  #setter
  def set_account_no(self,account_no):
     self.__account_no=account_no

In [ ]:
obj=Eagle("swathi",23,12345)
obj.get_account_no()

12345

In [ ]:
obj.set_account_no(6789)

In [ ]:
obj.get_account_no()

6789

In [ ]:
class srm:
  def __init__(self,Name,age,salary):
    self.Name=Name
    self.__age=age
    self.__salary=salary
 #getter
  def get_age(self):
   return self.__age
  def get_salary(self):
   return self.__salary

 #setter
  def set_age(self,age):
    self.__age=age
  def set_salary(self,salary):
    self.__salary=salary

In [ ]:
per1=srm("Anu",22,20000)
per1.get_age()

22

In [ ]:
per1.set_age(30)

In [ ]:
per1.get_age()

30

In [ ]:
per2=srm("ramaya",50,50000)
per2.get_salary()

50000

In [ ]:
per2.set_salary(60000)

In [ ]:
per2.get_salary()

60000

In [ ]:
class college:
  def __init__(self,Name,age,dept,salary):
   self.Name=Name
   self.__age=age
   self.dept=dept
   self.__salary=salary
 #getter
  def get_age(self):
    return self.__age
  def get_salary(salary):
    return self.__salary

 #setter
  def set_age(self,age):
    self.__age=age
  def set_salary(self,salary):
    self.__salary=salary

In [ ]:
per1=college("rupesh",22,"IT",300000)
per2=college("Swathi",23,"HR",530000)
per3=college("Ramaya",25,"non-IT",23000)

In [ ]:
per3.set_age(40)

In [ ]:
per3.get_age()

NameError: name 'per3' is not defined

In [ ]:
name= "muthu"
len(name)

5

In [ ]:
reversed_string="swathi"[::-1]
print(reversed_string)

ihtaws

In [ ]:
name="  rupesh"
print(trim_name)

  rupesh