<a href="https://colab.research.google.com/github/SWATHI-MUTHU/Python_Workout_Notes/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#inheritance
#parent class
class animal:
  def __init__(self,name):
    self.name=name
  def eat(self):
    print(self.name+" "+"is eating")

In [ ]:
per1 =animal("Ramu")

In [ ]:
per1.eat()

Ramu is eating

In [ ]:
#child class
class dog(animal):
  def __init__(self,breed,name):
    self.__breed=breed
    animal.__init__(self,name)

  def breed(self):
     return self.__breed

In [ ]:
d1=dog("Lab","Muthu")

In [ ]:
d1.eat()

Muthu is eating

In [ ]:
d1.breed()

'Lab'

In [ ]:
#inheritance
#parent class
class father:
      def __init__(self,name,age):
         self.name=name
         self.age=age
      def work(self):
         print("the father working age is"+" "+str(self.age))

In [ ]:
f=father("Ravi",57)

In [ ]:
f.work()

the father working age is 57

In [ ]:
#chlid
class child(father):
  def __init__(self,name,age,sch_name):
    self.__sch_name=sch_name
    father.__init__(self,name,age)

  def sch_name(self):
    return self.__sch_name

In [ ]:
c = child("mythily",45,"singaram pillai schl")

In [ ]:
c.work()

the father working age is 45

In [ ]:
c.sch_name()

'singaram pillai schl'

In [ ]:
#parent class
class animal:
  def __init__(self,name):
    self.name=name
  def habit(self):
    print(self.name)

In [ ]:
#child class
class cat(animal):
  def __init__(self,age,name):
    self.age=age
    animal.__init__(self,name)

  def age(self):
    return self.age

In [ ]:
c=cat(23,"Anu")

In [ ]:
c.habit()

Anu

In [ ]:
c.age()

TypeError: 'int' object is not callable

In [ ]:
#parent class
class animal:
  def __init__(self,name):
    self.name=name
  def habit(self):
    print(self.name)

In [ ]:
#child class
class cat(animal):
  def __init__(self,age,name):
    self.age=age
    super().__init__(name)

  def age(self):
    return self.age

In [ ]:
c=cat(23,"Anu")

In [ ]:
c.habit()

Anu

In [ ]:
c.age()

TypeError: 'int' object is not callable

In [ ]:
list=[2,2,4,5]
print(sum(list))

13

In [ ]:
#parent class
class vehicle:
  def __init__(self,name_of_vehicle,max_speed,average_of_vehicle):
    self.name_of_vehicle=name_of_vehicle
    self.max_speed=max_speed
    self.average_of_vehicle=average_of_vehicle
  def seating_capacity(self):
    print("The name of the vehicle"+" "+ self.name_of_vehicle)

In [ ]:
#child class
class car(vehicle):
  def __init__(self,name_of_vehicle,max_speed,average_of_vehicle,colour):
    self.colour=colour
    vehicle.__init__(self,name_of_vehicle,max_speed,average_of_vehicle)

In [ ]:
v=car("AWM",250,50,"red")

In [ ]:
v.seating_capacity()

The name of the vehicle AWM

In [ ]:
#parent class1(Multiple inheritance)
class person():
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def person_info(self):
    print(self.age)

In [ ]:
#parent class2
class employee():
  def __init__(self,employeeid):
   self.employeeid=employeeid

  def emp_info(self):
    print(self.employeeid)

In [ ]:
#child class
class company(person,employee):
  def __init__(self,name,age,employeeid,dept):
    self.dept=dept
    person.__init__(self,name,age)
    employee.__init__(self,employeeid)

  def dept(self):
    return self.dept

In [ ]:
c=company("Rathi",23,1234,"IT")

In [ ]:
c.emp_info()

1234

In [ ]:
c.person_info()

23

In [ ]:
class FOOD:
  def __init__(self,name,recipe):
    self.name=name
    self.__recipe=recipe

#getter
  def get_recipe(self):
    return self.__recipe
#setter
  def set_recipe(self,recipe):
    self.__recipe=recipe

In [ ]:
f=FOOD("Muthu","Fried rice")

In [ ]:
f.get_recipe()

'Fried rice'

In [ ]:
f.set_recipe("briyani")

In [ ]:
f.get_recipe()

'briyani'

In [ ]:
#abstraction method
from abc import ABC,abstractmethod

In [ ]:
class ITV(ABC):
   @abstractmethod
   def stud_details(self):
       pass

In [ ]:
class datascience(ITV):
 def stud_details(self):
  print("X")

In [ ]:
d=datascience()

In [ ]:
d.stud_details()

X

In [ ]:
class showroom(ABC):
  @abstractmethod
  def hatchback(self):
    pass

In [ ]:
class audi(showroom):
  def hatchback(self):
    price=20000
    discount=0.2
    print(f"the price of the audi is {price-(price*discount)}")

In [ ]:
s1=audi()

In [ ]:
s1.hatchback()

NameError: name 's1' is not defined

In [2]:
class datascience:
  def stud_details(self):
    print("The student belong to DS")

class webdep:
  def stud_details(self):
    print("The student belong to webdep")

In [3]:
d=datascience()

In [4]:
d.stud_details()

The student belong to DS

In [6]:
d=webdep()

In [7]:
d.stud_details()

The student belong to webdep

In [19]:
#file handling
file=open("/content/demo.txt","r")

In [20]:
#1 method
print(file.read())

Hello world

In [21]:
#2method
with open("/content/demo.txt","r") as file:
  data=file.read()
  print(data)

Hello world

In [22]:
with open("/content/demo.txt","r") as file:
  data=file.read(3)
  print(data)

Hel

In [26]:
#writting
with open("/content/demo.txt","w") as f:
  f.write("hello")
  f.write("Hi")
  f.close()

In [27]:
#append
with open("/content/demo.txt","a") as f:
  f.write("hello")
  f.write("Hi")
  f.close()

In [29]:
#Delete a file
import os

In [ ]:
os.remove("/content/demo.txt")

In [31]:
with open("/content/del.txt","w") as f:
  f.write("hello Guys")
  f.close()

In [32]:
with open("/content/del.txt","r") as f:
  data=f.read()
  print(data)

hello Guys

In [33]:
with open("/content/del.txt","a") as f:
  f.write(" Hi")

In [30]:
os.remove("/content/del.txt")

In [ ]:
#custom Exception Handling:
age=int(input("Enter your age"))

Enter your age-123

In [39]:
class custom_exception(Exception):
  def __init__(self,msg):
    self.msg=msg

In [47]:
def validate_age(age):
  if age<0:
    raise custom_exception("Entered age is negative")
  elif age>200:
    raise custom_exception("Entered age is very very high")
  else:
    print("Age is valid")

In [50]:
try:
  age=int(input("enter you age"))
  validate_age(age)

except custom_exception as e:
    print(e)

enter you age45
Age is valid