<a href="https://colab.research.google.com/github/SWATHI-MUTHU/Python_Workout_Notes/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 age=int(input("enter your age:"))
if age >= 18:
    print("eligible to vote")

enter your age:12

In [ ]:
age=int(input("enter your age:"))
if age>=18 and age<=35:
    print("ur young blood")

In [ ]:
cost =int(input("enter the cost:"))
if cost>=100 and cost <=1000:
  print("Eligible for discount")

enter the cost:109
Eligible for discount

In [ ]:
age=int(input("enter your age:"))
if age>=18:
    print("eligible for vote")
else:
    print("not eligible for vote")

enter your age:13
not eligible for vote

In [ ]:
price=int(input("enter the price:"))
if price>1000:
    print(f"discount is {price*0.2}")
else:
    print("no discount")

enter the price:999
no discount

In [ ]:
cost=int(input("enter your cost"))
if cost>=2000:
    print(f"discount is {cost*0.7}")
else:
    print(f"discount is {cost*0.8}")

enter your cost10
discount is 8.0

In [ ]:
price=int(input("enter your price"))
if price>=100 and price<1000:
  print(f"total bill is {price*0.9}")
elif price>=1000 and price<=2000:
  print(f"total bill is {price*0.8}")
elif price>2000 :
  print(f"total bill is{price*0.7}")
else:
  print("no eligible")

enter your price1100
total bill is 880.0

In [ ]:
price=int(input("enter your price"))
if price>=100 and price<1000:
  print(f"total bill is {price*0.9}")
elif price>=1000 and price<=2000:
  print(f"total bill is {price*0.8}")
elif price>2000 and price<=3000 :
  print(f"total bill is{price*0.7}")
elif price>3000:
  print(f"total bill is{price*0.6}")
else:
  print("no eligible")

enter your price20
no eligible

In [ ]:
price=int(input("enter your price"))
if price>=100 and price<1000:
  print(f"total bill is {price*0.9}")
elif price>=1000 and price<=2000:
  print(f"total bill is {price*0.8}")
elif price>2000 and price<=3000 :
  print(f"total bill is{price*0.7}")
elif price>3000:
  if price==3999:
      print("u win a special gift")
  print(f"total bill is{price*0.6}")

else:
  print("no eligible")

enter your price3999
u win a special gift
total bill is2399.4

In [ ]:
age=int(input("enter Joining_age:"))
while age <= 60:
     print(age)
     age= age+1

enter Joining_age:66

In [ ]:
age=int(input("enter Joining_age:"))
while age<=60 :
     print(age)
     age=age+1
else:
   print("time to retire")

enter Joining_age:66
time to retire

In [ ]:
amount=int(input("enter your amount:"))
while amount!=0:
    print(amount)
    amount=amount-100
else:
  print("no cash")

enter your amount:100
100
no cash

In [ ]:
L=["true","Am",12,7.1,3+5j]
for i in L:
  print(i)

true
Am
12
7.1
(3+5j)

In [ ]:
str_1="swathi"
for i in str_1:
  print(i)

s
w
a
t
h
i

In [ ]:
fruits=["apple","cherry","mango","banana"]
for i in fruits:
  print(i)
  if i=="cherry":
     print("above friuts is cherry")

apple
cherry
above friuts is cherry
mango
banana

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,12,2):
 print(i)

0
2
4
6
8
10

In [ ]:
L=["banana","apple","cherry","mango"]
for i in L:
  if i=="cherry":
     print("It is cheery")
     break
  print(i)

banana
apple
It is cheery

In [ ]:
L=["banana","apple","cherry","mango"]
for i in L:
  if i=="cherry":
     print("It is cheery")
     pass
  print(i)

banana
apple
It is cheery
cherry
mango

In [ ]:
L=["banana","apple","cherry","mango"]
for i in L:
  if i=="cherry":
     print("It is cheery")
     continue
  print(i)

In [ ]:
Department =["HR","IT","Non-IT","sales","Healthcare"]
for a in Department:
  if a=="sales":
    print("My department is sales")
    break
  print(a)

HR
IT
Non-IT
My department is sales

In [ ]:
Department =["HR","IT","Non-IT","sales","Healthcare"]
for a in Department:
  if a=="IT":
    print("my department is IT")
    pass
  print(a)

HR
my department is IT
IT
Non-IT
sales
Healthcare

In [ ]:
Department =["HR","IT","Non-IT","sales","Healthcare"]
for x in Department:
  if x=="Non-IT":
    print("my department id non-it")
    continue
  print(x)

HR
IT
my department id non-it
sales
Healthcare

In [ ]:
x="hello"

y=" swathi"
print(x + y)

hello swathi

In [ ]:
def add(x,y):
  c=x+y
  return c

In [ ]:
add(10,19)

29

In [ ]:
def multiply(x,y):
  c=x*y
  return c

In [ ]:
multiply(10,2)

20

In [ ]:
def maximum(a,b):
  if a>=b:
    return ("a is greater")
  elif a==b:
    return ("both are same")
  else:
    return ("b is greater")

In [ ]:
a=8
b=5
maximum(a,b)

'a is greater'

In [ ]:
l=[2,5,6.7,9,"swa","rup",56]
def test(a):
   n=[]
   for i in a:
    if type(i)==int or type(i)==float:
     n.append(i)
   return n

In [ ]:
test(l)

[2, 5, 6.7, 9, 56]

In [ ]:
M=["anu",23,78,3.6,"True","false","ram"]
def sum(b):
  n=[]
  for i in b:
    if type(i)==str or type(i)==bool:
      n.append(i)
  return n

In [ ]:
test(M)

['anu', 'True', 'false', 'ram']

In [ ]:
a=4
b=7
a,b=b,a
print(a,b)

7 4